{% extends "defaultLayout.html" %}

{% block content %}
{% if exerciseList| length != 0 %}
    <div class="row">
    {% for i in range(exerciseList| length) %}
        {% if i%2 == 0 and i != 0 %}
        </div>
        <div class="row">
        {% endif %}
        <a class="btn btn-outline-info col-sm-5 mb-3 mr-3" href="{{url_for('display')}}{{'?name='}}{{exerciseList[i].name}}">
            {{exerciseList[i].name}}
        </a>
    {% endfor %}
    </div>
{% else %}
    <h2 class="text-muted">Nothing to see here at the moment</h2>
    <p class="text-muted">You can track your workouts by adding them <a href="{{url_for('addWorkout')}}">here</a></p>
{% endif %}
{% endblock content %}