{% extends "defaultLayout.html" %}

{% block content %}
    <button id="addWorkoutBtn">Add Workout</button>
    <div class="addWorkoutDiv"></div>
    {%for i in range(workouts| length)%}
        <h1>{{workouts[i][0][0].date}}</h1>
        {%for j in range(workouts[i]| length)%}
            <h3>{{workouts[i][j][0].name}}</h3>
            {%for k in range(workouts[i][j]| length)%}
                <h3>{{workouts[i][j][k].reps}}, {{workouts[i][j][k].weight}}</h3>
                <br>
            {%endfor%}
        {%endfor%}
        <br>
    {%endfor%}
    <a id="testA" href="">Test me</a>
    <!-- {{workouts}} -->

    <script>
        var addWorkoutBtn = document.getElementById("addWorkoutBtn");
        var addWorkoutDiv = document.getElementById("addWorkoutDiv");

        var addExerciseBtn = document.createElement("btn")
        addExerciseBtn.setAttribute('id', 'addExerciseBtn');
        addExerciseBtn.addEventListener('click', function(){
            var name 
            var weight
            var reps
        })

        var addSetBtn = document.createElement("btn")
        addSetBtn.setAttribute('id', 'addExerciseBtn');
        addWorkoutBtn.addEventListener('click', function() {

        });
    </script>
{% endblock content %}